/*
FH Aachen Mint: #00B1AC
Schwarz
Weiß
*/
html * {
    font-family: sans-serif;
}

h1{
    text-align: center;
}

hr{
    background-color: #00B1AC;
    height: 2px;
}

a {
    color: black
}

/*Styling der Navigation*/

.logo{
    height: 4em;
    float: left;
}


.Navigation {
    list-style-type: none;
    text-align: center;
    max-width: 100%
}

.LiNav li {
    display: inline-block;
    padding-top: 2em;
}

.LiNav li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border: 2px solid darkcyan;
    border-radius: 8px;
    background-color: white
}

li a:hover {
    background-color: lightgray;
}


/*Styling Ankündigung*/
p {
    border: 2px solid black;
    margin-right: 20%;
    margin-left: 20%;
    padding: 1em;
    border-radius: 8px;
}

/*Styling Tabelle*/
.allergenemittig{
    text-align: center;
}

table {
    margin-right: auto;
    margin-left: auto;
}

.tabelle img {
    width: 200px;
}

table, th, td {
    border: 1px solid black;
}

/*Styling Zahlen*/
.Zahlen {
    text-align: center;
    padding: 1em;
}

.Zahlen li {
    padding: .5em;
    font-size: 25px;
    display: inline-block;
}


/*Styling <form> */
form {
    text-align: center;
}


label {
    padding: 1em;
}

/*Styling Das ist uns wichtig*/
.unswichtig{
    text-align: center;
    padding: 1em;
}

.unswichtig li {
    padding: 0.6em;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    list-style: none;
}


/*Styling Footer*/
.FooterNav{
    list-style-type: none;
    text-align: center;
}

.FooterNav li:nth-child(n+2){
    border-left: 1px solid black;
    padding-left: 15px;
}

.FooterNav li {
    display: inline-block;
    padding-right: 15px;
}
